h1 {
  font-family: "FOT-マティス Pro B", "MatissePro-B";
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-family: "FOT-マティス Pro B", "MatissePro-B";
  font-size: 18px;
  line-height: 1.5;
}
